# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
.kotlin/

# Server testing directory
run/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/
tools/node_modules/
tools/package-lock.json

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Mac OS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Logs
*.log

# Temporary files
*.tmp
*.bak
*.bak.json
*.swp
*~

# Template specific
libs/HytaleServer.jar
buildSrc/

.hytale-downloader-credentials.json
doc/

.cache/
/auth.enc
/bans.json
/config.json
/config.json.bak
/logs/
/mods/
/permissions.json
/universe/
/whitelist.json
/test-output.log
